/* .input-box {
    text-align: center;
} */
label {
    font-size: 12px;
}
/* input:focus, textarea:focus {
    outline : 3px solid hsl(250, 69%, 61%);
} */
input,textarea {
    
    margin: 1rem 0;
    padding : 0.8rem;
    border : 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width : 85%;
    font-size : 18px; 
    
}

input[type="checkbox"] {
    /* margin: 0; */
    width: auto;
    margin: 0;
    padding: 0; 
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 16px;
    width: 16px;
    border: 1px solid white;
  }
  
  input[type="checkbox"]:checked {
    background: #2B83EA;
  }
  
  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }
  
  input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  
  input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }
  
  input[type="checkbox"]:disabled:after {
    border-color: #7b7b7b;
  }

input::placeholder {
    color : #859FC1;
}

textarea  {
    height : 30vh;
}
.error {
    text-align: center;
    /* position: absolute; */
    color: red;
    font-size: 18px;
  }

.is-invalid {
    border: 3px solid red;
}